body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input,
button {
  margin: 4px;
}
